@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.font-bebas {
    font-family: 'Bebas Neue', sans-serif;
}

.text-heading {
    color: #363958;
}

.text-color {
    color: #3E3E3E;
}

.get-started-btn {
    background-color: white; /* Button background color */
    color: black; /* Text color */
    padding: 12px 24px; /* Padding for the button */
    border: 2px solid black; /* Black border */
    border-radius: 6px; /* Rounded corners */
    font-size: 16px; /* Font size */
    font-weight: 600; /* Semi-bold font */
    text-transform: uppercase; /* Uppercase text */
    display: inline-flex; /* Align icon and text inline */
    align-items: center; /* Center align the items vertically */
    justify-content: center; /* Center align the items horizontally */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
    font-family: 'Poppins', sans-serif; /* Consistent font family */
}

.get-started-btn i {
    margin-right: 8px; /* Space between icon and text */
}

.get-started-btn:hover {
    background-color: linear-gradient(to right, #e0e0e0, #ffffff); /* Slightly lighter background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.get-started-btn:active {
    background-color: linear-gradient(to right, #e0e0e0, #ffffff); /* Slightly darker background on active */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow on active */
}

header {
    background-image: url('https://i.ibb.co/qrF1XkG/newbg.png'); /* Background image */
    background-size: cover; /* Cover the entire header with the background image */
    background-position: center; /* Center the background image */
    color: #fff; /* White text color */
    padding: 20px 0; /* Add some padding */
}
